<input type="text" [(ngModel)] = "title">
{{ title }}

<button (click)="addItem()" >Add item</button>

<div *ngIf="items.length == 0">
  La lista está vacía
</div>

<div [ngSwitch] = "title">
  <p *ngSwitchCase="'Santiago'">Este es Santiago</p>
  <p *ngSwitchCase="'Sandra'">Esta es Sandra</p>
  <p *ngSwitchCase='"Sonia"'>Esta es Sonia</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<ul>
  <li *ngFor="let item of items; index as i">
    {{ item }} {{ i }}
    <button (click)="deleteItem(i)">
      Delete item
    </button>
  </li>
</ul>

<div *ngFor="let product of products">
  <app-product [product]="product"></app-product>
</div>